h1 {
  color: white;
  font-size: 80px;
  font-family: cursive;
}

h3 {
  color: white;
  font-family: cursive;
}
select {
  height: 50px;
  width: 300px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  font-weight: 600;
}
